html,

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

html {
  
  width: 100%;
  height: 100vh;
}

:root{
  --primary-bg-color: white;
  --secondary-section-color: #c6c8e7;
  --text-bg-color: black;
  --font-family-haas: "neue-haas-grotesk-text", sans-serif;
  --font-family-haas-bold: "neue-haas-grotesk-text", sans-serif;
  --primary-button-color: #FF7F50;;
  --secondary-button-color:white;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background:rgb(255, 255, 255);
  display:grid;
  
}
header {
  text-align: center;
  background-color: white(172, 60, 60);
  align-items: center;
  width: 100%;
  /* height: 90rem; */
  position: relative;
  left: 0;
  top: 0;
}

.wrapper {
  background-color: white;
  position:fixed;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  display: flex;
  align-items: center;
  z-index: 2;
}

nav  {
  /* left:2rem; */
  background-color: white;
  position:relative;
  align-items: center;
  font-family:  var(--font-family-haas-bold);
  font-weight: 500;
  box-shadow: none;
  width: 45%;
  -webkit-box-shadow: none;
}

nav ul li {
  display: inline-block;
  width: auto;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  padding: 20px 30px;
 }

label.logo {
  color: black;
  margin-top: 1rem;;
  margin-left: 3rem;
  font-size: 30px;
  line-height: 80px;
  font-family:  var(--font-family-haas-bold);
}

button {
  color: white;
  background: var(--primary-button-color);
  border-radius: 0.75rem;
  border: #FF7F50 solid 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  width: 12.5rem;
  height: 2.8rem;
  outline: none;
  font-family:  var( --font-family-haas);
  font-size: 1.1rem;
  cursor: pointer;
}

button:hover {
  color: #FF7F50;
  background: var( --secondary-button-color);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border:#FF7F50 solid 2px;
  transition: 0.35s;
}
.login {
  width: 6rem;
  color: #FF7F50;
  background: var(--font-family-haas);
  /* margin-right: 1rem; */

}
.login:hover{
  color: white;
  background: #FF7F50;
  border: #FF7F50 solid 2px;
  transition: 0.35s;

}


.bTn {
  margin-right: 3rem;
  background-color: none;
  box-shadow: none;
  -webkit-box-shadow: none;

}

.heroimage  {
width:100%;
color: white;

}


#heroimg{
  width: 100%;
}

h1{
font-family: var(--font-family-haas-bold);
font-weight: 700;
width: 32%;
position: absolute;
top: 18rem;
color: white;
margin-left: 6rem;
font-size: 40px;

}

.ErlyAccess {
position: absolute;
top: 30rem;
left: 6rem;

}

section2 {
    display: grid;
    grid-template-columns: 40px 50px auto 50px 40px;
    grid-template-rows: 25% 100px auto;
}

h2 {
font-family: var(--font-family-haas-bold);
font-weight: 500;
font-size: 40px;
color: black;
grid-column-start: 3;
grid-column-end: 4;
justify-self:center;
margin-top: 6.5rem;


}

p {
font-family: var(--font-family-haas);
font-size: 24px;
grid-column-start: 3;
grid-column-end: 4;
grid-row-start: 2;
grid-row-end: 4;
justify-self:center;
margin: 5rem;

}

.contact {
grid-column-start: 3;
grid-column-end: 4;
grid-row-start: 4;
grid-row-end: 5;
justify-self:center;
margin-bottom: 5rem;
}

section3 {
display: grid;
grid-template-columns: 50% 50%;
grid-template-rows: 50% 50%;
background-color: #35203A;


}

.Curses {
  color: white;
  font-family: var(--font-family-haas);
  font-size: 18px; 
  width: 840px;
  height: 742px;
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 30% 40% 30%;
}

#curseimg {
  width: 100%;
  grid-column: 2;
  grid-row: 1;
  align-self: start;
}

.Instractor {
  color:white;
  font-family: var(--font-family-haas);
  font-size: 18px; 
  grid-column: 2;
  grid-row: 2;
  width: 840px;
  height: 742px;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 30% 40% 30%;
}

#Instractorimg {
  width: 100%;
  grid-column: 1;
  grid-row: 2;
  align-self: start;
}

h3{
justify-self:center;
align-self: end;
grid-column: 2;
grid-row: 1;
font-size: 36px; 
}

.Curses p {
  justify-self:center;
  grid-column: 2;
  grid-row: 2;
  font-size: 20px; 
  margin:auto;
}
.readmore1 {
  justify-self:center;
  grid-column: 2;
  grid-row: 3;
}

.Instractor p{
  justify-self:center;
  grid-column: 2;
  grid-row: 2;
  font-size: 20px; 
  margin:auto;
}

.readmore2 {
  justify-self:center;
  grid-column: 2;
  grid-row: 3;
}

section4 {
display: grid;
grid-template-columns: 15% 70% 15%;
grid-template-rows: 20% 40% 40%;

}

section4 h2 {
  grid-column: 2;
  grid-row: 1;
  justify-self:center;
}

section4 p{
  grid-column: 2;
  grid-row: 2;
  justify-self:center;
}

#buddylogo {
  grid-column: 2;
  grid-row: 3;
  justify-self:start;
  align-self: end;
  width: 40%
  
}

#stelletlogo {
  grid-column: 2;
  grid-row: 3;
  justify-self:end;
  align-self: end;
  width: 40%
}

section5 {
  display: grid;
  /* grid-template-columns: 10% auto 10%; */
  grid-template-rows: 30% auto;

}

section5 h2{
  grid-column: 2;
  grid-row: 1;
  justify-self:center;
}

.container1 {
  width: 100%;
  margin: 0 auto;
  /* padding: 0 1.5rem; */
  position: relative;
  transition: 1s;
  grid-column: 2;
  grid-row: 2;
  margin-top: 5rem;
  right: 3rem;

 }

 .item-1:hover {
  transform:scale(1.1);

 }
 .item-2:hover {
  transform:scale(1.1);

  }
  .item-3:hover {
  transform:scale(1.1);

  }
  .item-4:hover {
    transform:scale(1.1);
  
    }


 .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    border-radius: 12px;
    justify-content: space-between;
     }

 h4 {
  font-family: var(--font-family-haas);
  font-size: 30px;
  position:relative;
  /* left: 8rem; */
  top: 3rem;
  
 }


 .oval{
   position: relative;
   left: 6rem;
   top: 6rem;
   
 }

 .item-1{
  width: 350px;
  height: 450px;
  border: #35203A  solid 5px;
  background-color:  white;
  box-shadow:  3px 3px 3px 3px rgba(65, 60, 60, 0.253);
  border-radius: 12px;
  transition: 1s;
  
  
 }
.text {
    font-family: var(--font-family-haas);
    position: relative;
    font-size: 16px;
    width: 300px;
    top: 7.75rem;
    left: 30px;

}
.read {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  width: 300px;
  top: 95px;
  left: 190px;
  cursor: pointer;
  

}
 
 .item-2 {
  width: 350px;
  height: 450px;
  border: #35203A  solid 5px;
  background-color:  white;
  box-shadow:  3px 3px 4px 4px rgba(65, 60, 60, 0.253);
  border-radius: 12px;
  transition: 1s;
 }
.item-2 .read {
   position: relative;
   padding-top: 19px; 
   
}
 .item-3 {
  width: 350px;
  height: 450px;
  border: #35203A  solid 5px;
  background-color:  white;
  box-shadow:  3px 3px 4px 4px rgba(65, 60, 60, 0.253);
  border-radius: 12px;
  transition: 1s;
 }
 .item-3 .read {
  position: relative;
  top: 79px;
 }

 .item-4 {
  width: 350px;
  height: 450px;
  border: #35203A  solid 5px;
  background-color: white;
  box-shadow:  3px 3px 4px 4px rgba(65, 60, 60, 0.253);
  border-radius: 12px;
  transition: 1s;
 }
 .item-4 .read {
  position: relative;
  top: 79px;
 }

 .seemore {
   grid-column: 2;
   grid-row: 3;
   justify-self: center;
   margin-top: 4rem;
   position: relative;
   left: -4rem;
 }

 section6 {
   display: grid;
   grid-template-columns: 15% 40% 30% 15%;
   grid-template-rows: 10% 50% 40%;
 }

 section6 h2{
   margin-top: 14rem;
   grid-column: 2;
   grid-row: 1;
   justify-self: center;
 }

 section6 p{
   width:110%;
  margin-top: 20rem;
  grid-column: 2;
  grid-row: 2 span 3;
  justify-self: center;
  align-self: start;
}

#buddy {
  width: 23rem;
  height: 23rem;
  grid-column: 3;
  grid-row: 2;
  justify-self: end;
  align-self: end;
}

#crudentials {
  margin-top: 3rem;
  margin-bottom: 5rem;;
  grid-column: 2;
  grid-row: 3;
  align-self: end;
}

footer {
  display: grid;
  background-color: #35203A;
  height: 25rem;
}

